---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import getProjects from "@utils/getProjects";
import Card from "@components/Card";
import { SITE } from "@config";

const data = getProjects();
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="All the projects I've developed.">
    <ul class="flex flex-wrap content-between items-center gap-1">
      {data.map(data => <Card href={`/posts//`} frontmatter={data} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
